<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <center>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <a class="btn btn-default" href="BajaIngrediente.cshtml">Eliminar Ingrediente</a>
    <a class="btn btn-default" href="BajaReceta.cshtml">Eliminar Receta</a>
    <a class="btn btn-default" href="AltaReceta.cshtml">Agregar Receta</a>
    <a class="btn btn-default" href="AltaIngrediente.cshtml">Agregar Ingrediente</a>
    <a class="btn btn-default" href="ConsultarReceta.cshtml">Consultar Receta</a>
    </center>
    @RenderBody()
</body>
</html>
