@{
    Page.Title = "Indice";
    Layout = "LayoutLibros.cshtml";

    LibrosEntities le = new LibrosEntities();
    
       
    
}


<div>
    <ul>
        @foreach (var item in le.Libro)
        {
            <li>@item.titulo</li>
            <ul>
                @foreach (Autor item2 in item.Autor)
                {
                    <li>@item2.nombre</li>
                }
            </ul>   
        }
    </ul>
</div>
