<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Empleado</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="../Vuelo/Index">Lista de Vuelos</a></li>
                                        
                    @if (!(Roles.IsUserInRole("EncargadoAerolinea")))
                    {
                        <li><a href="../Boleto/Index">Boletos</a></li>
                        <li><a href="../Cliente/Index">Listado de clientes</a></li>
                        <li><a href="../Cliente/Create">Dar alta a cliente</a></li>
                    }

                </ul>
                <p class="nav navbar-nav navbar-right">
                    @if (WebSecurity.CurrentUserId != -1)
                    {   
                        @Html.Label(WebSecurity.CurrentUserName)
                        <a href="../Account/Logout">Logout</a>
                    }

                </p>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
