@model TF_Base.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Dar de baja al cliente</h2>

<h3>¿Está seguro de eliminar a este cliente?</h3>
<fieldset>
    <legend>Cliente</legend>

    <div class="display-label">
         Nombre de usuario
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.nombre)
    </div>

    <div class="display-label">
         DNI
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dni)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Dar de baja" /> |
        @Html.ActionLink("Volver a la lista", "Index")
    </p>
}
