@model TF_Base.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Cliente</legend>

    <div class="display-label">
         Nombre de usuario
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.nombre)
    </div>

    <div class="display-label">
         DNI
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dni)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.dni }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
