@model TF_Base.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Cliente</legend>

    <div class="display-label">
        <strong>Nombre de usuario</strong>
    </div>
    @if (Model.idUsuario != null)
    {
        <div class="display-field">
            @Html.DisplayFor(model => model.Usuario.nombre)
        </div>
    }
    else
    {
        <div class="display-field">
            <label>No tiene usuario</label>
        </div>
    }

    <div class="display-label">
        <strong>DNI</strong>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dni)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Volver a la lista", "Index")
</p>
