@{
    Page.Title = "Agregar auto";
    Layout = "LayoutEstacionamiento.cshtml";
}


<div>
    <form action="ListaAutos.cshtml" method="post">

        <label>Patente</label>
        <input type="text" name="patente" value="" />
        <br />

        <label>Dueño</label>
        <input type="text" name="dueño" value="" />
        <br />

        <input class="btn btn-danger" type="submit" name="btn" value="Ingresar" />

    </form>

</div>
