@{
    Page.Title = "Jujushumek";
    Layout = "Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title></title></head>
<body>
    <div>
        <h1 id="MaxisDiv">Alto titulo</h1>
        <h2>Bajo titulo</h2>

        <p>Esto es un parrafo</p>
        <img src="http://i.imgur.com/cyttXy0.gif" alt="" />
        <ol>
            <li>Primer item</li>
            <li>Segundo item</li>
        </ol>

        <ul>
            <li>Un item</li>
            <li>Otro item</li>
        </ul>
    </div>

</body>
</html>
