@{
    Page.Title = "Ciudades mas importantes";
    Layout = "Layout2.cshtml";
}


<div>
    <ul>
        <li>Winterfell</li>
        <li>King's Landing</li>
        <li>Casterly Rock</li>
        <li>Lannisport</li>
        <li>Braavos</li> 
    </ul>
</div>