<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <h1>Menu 2</h1>
    <a href="ContentPage1">Casa Stark<br />
    </a>
    <a href="ContentPage2">Personajes<br />
    </a>
    <a href="ContentPage3">Ciudades mas importantes<br />
    </a>
    <a href="ContentPage4">Lista de casas</a>
    @RenderBody()
</body>
</html>
