USE [master]
GO
/****** Object:  Database [DemoBD]    Script Date: 12/07/2017 03:28:33 p.m. ******/
CREATE DATABASE [DemoBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoBD', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DemoBD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DemoBD_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DemoBD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoBD]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 12/07/2017 03:28:33 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Persona](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Persona] ([id], [nombre], [edad]) VALUES (1, N'Maxi', 23)
INSERT [dbo].[Persona] ([id], [nombre], [edad]) VALUES (2, N'Mario', 27)
INSERT [dbo].[Persona] ([id], [nombre], [edad]) VALUES (3, N'Julieta ', 15)
USE [master]
GO
